@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&family=Merriweather:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: .3s all;

    /*     
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    */
}

h2{
    font-size: 72px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    line-height: 95px;
}

h6{
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
}

a{
    text-decoration: none;
}

/*=============================================
=            Header            =
=============================================*/
header {
    height: 100vh;
    padding: 50px 100px;
}

header .banner{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFF;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("./resources/banner-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header .banner h6{
    padding-bottom: 16px;
}

/*=====  End of Header  ======*/



/*=============================================
=            Main            =
=============================================*/
main{
    padding: 120px 100px;
    position: relative;
}

/*----------  OFF Section  ----------*/
main section#off {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

main section#off h1{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}

main section#off p{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 16px;
}

main section#off h5{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
/*----------  OFF Section End  ----------*/


/*----------  Welcome Section  ----------*/
section#welcome{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 100px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("./resources/Vectorrr.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 120px;


}

section#welcome .wel-left h3{
    font-family: 'Merriweather', serif;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7px;
    margin-bottom: 24px;
}


section#welcome .wel-left p{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 48px;   
}

section#welcome .wel-left a{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s all;
}

section#welcome .wel-left a:hover{
    color: #F00;
}

section#welcome .wel-right img{
    margin-left: 10px;
}

/*----------  Welcome Section End  ----------*/



/*----------  Address Section   ----------*/
section#address{
    text-align: center;
    padding: 100px 300px;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 18px;
}
section#address p{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;   
}


section#address p span{
    color: #F00;
}
button#mt{
    margin-top: 48px;
}
button.joinBtn{
    padding: 18px 32px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
    background: #F00;
    border: 2px solid #F00;
    cursor: pointer;
    transition: 0.3s all;
}
button.joinBtn:hover{
    background: transparent;
    color: #F00;
}

/*----------  Address Section End  ----------*/




/*----------  Coming Soon Section  ----------*/
section#coming{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 120px 0;
}

h5.h5Title{
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

h2.h2Header{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
}

p.paraP{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}



section#coming .come-middle {
    border-radius: 50%;
    border: 15px solid #F00;
    background: red;
    display: inline-block;
    margin-left: 40px;
    margin-right: 20px;
}

section#coming .come-middle img{
    border: 30px #ffff solid;
    border-radius: 50%;
}

section#coming .come-right h4{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}
section#coming .come-right p{
    margin-top: 16px;
    margin-bottom: 43px;
}
/*----------  Coming Soon Section End  ----------*/



/*----------  Holidays Section  ----------*/
section#holiday {
    margin-bottom: 120px;
    height: 953.435px;
    position: relative;
}
section#holiday .holiday-header {
    padding: 0 100px;
    text-align: center;
}
section#holiday .holiday-header h6#title{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #070211;
    text-transform: uppercase;
}

section#holiday .holiday-header h1{
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    color: #070211;
    margin-top: 16px;
    margin-bottom: 28px;
}
section#holiday .holiday-header h1 span{
    color: #F00;
}
section#holiday .holiday-header p{
    margin-bottom: 64px;
}

section#holiday .holiday-middle{
    position: relative;
    height: 100%;
    /*width: 50%;
    margin-left: auto; */
    display: flex;
    justify-content: right;
    align-items: flex-start;
}
section#holiday .holiday-middle img{
    position: relative;
}
section#holiday .holiday-middle img#girImg{
    left: 307px;
    top: 0;
}

section#holiday .holiday-middle img#dis{
    right: 272px;
    top: 7%;
}

section#holiday .holiday-bottom{
    /* position: relative; */
    height: 100%;
}

section#holiday .holiday-bottom img{
    position: relative;
}

section#holiday .holiday-bottom img#up{
    z-index: 200;
    height: 550px;
    top: -92%;
    left: 25px;
}

section#holiday .holiday-bottom img#down{
    position: relative;
    width: 100%;
    top: -113%;
    z-index: 100;
}

section#s{
    position: relative; 
    top: 420px;
}

/*----------  Holidays Section End  ----------*/



/*----------  Gift Card Section  ----------*/


section#giftCard .giftCard-header{
    padding-right: 400px;
}

section#giftCard .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; 
}



section#giftCard .cards .card{
    height: 100%;
    width: 100%;
    margin: 0;
    margin-top: 48px;
    transition: 0.3s all;
    border-radius: 16px;
}

section#giftCard .cards .card:hover{
    transform: translateY(-10px); 
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
section#giftCard .cards .card img{
    height: 100%;
    width: 100%;
}
/*----------  Gift Card Section End  ----------*/



/*----------  Newsletter Section  ----------*/
section#newsletter{
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin-top: 190px;
    padding: 80px 200px;
    border-radius: 16px;
}

section#newsletter form{
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#newsletter form input#email{
    padding: 25px 30px;
    width: 430px;
    border: none;
    color: #070211;
    outline: none;
    border-radius: 50px 0px 0px 50px;
    font-size: 18px;
    transition: .3s all;
}


section#newsletter form input#email::placeholder{
    color: rgba(7, 2, 17, 0.30);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}


section#newsletter input#subBtn{
    padding: 23.4px 56px;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 0px 50px 50px 00px;
    background: #F00;
    cursor: pointer;
    transition: .3s all;
}
section#newsletter input#subBtn:hover{
    background: rgb(189, 0, 0)

}


section#newsletter{}

section#newsletter{}
/*----------  Newsletter Section End  ----------*/





/*=====  End of Main  ======*/





/*=============================================
=            Footer             =
=============================================*/
footer{
    background: #070211;
    padding: 120px 100px;
    font-family: 'Inter', sans-serif;
    color: #FFF;
}

footer hr{
    margin: 50px 0;
    border: 1px solid rgba(255, 255, 255, 0.15);

}

footer p{
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
footer a{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    transition: .3s all;
}
footer a:hover{
    text-decoration: underline;
}
footer .foot-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
footer .foot-content #contact a{
    display: flex;
    align-items: center;
}
footer .foot-content #contact a img{
    padding-right: 8px;
}

footer .foot-center{
    display: flex;
    align-items: center;
    justify-content: center;
} 

footer .foot-center a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 12px;
    padding: 5px 11px;
    border-radius: 50%;
    background: transparent;
}

footer .foot-center a:hover{
    box-shadow: #F00 0px 35px 30px -20px;
}

/*=====  End of Footer   ======*/

